{% extends 'base.html' %}

{% block content %}
  {% load static %}
<style>
  .no-underline {
  text-decoration: none;
}
</style>
<section class="py-5 text-center mt-2">
  <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for image in slider_images %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ image.alt_text }}" style="height: 500px;">
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>


  <div class="container" style="background-color: #f8f9fa;">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <div class="card bg-light shadow">
          <div class="card-body">
            <h1 class="fw-light">Album Example</h1>
            <p class="lead mb-4">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <a href="{% url 'products:index' %}" class="btn btn-primary btn-lg">Explore Our Caravans</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="mt-5">
  <div class="container">
    <h2 class="text-center">Brands</h2>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <ul class="list-unstyled d-flex flex-wrap justify-content-center">
          {% for brand in brands %}
            <li class="col-md-2 mx-4 my-3">
              <img src="{{ brand.logo.url }}" alt="{{ brand.name }} Logo" class="brand-logo" style="width: 150px; height: 150px;">
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>



<div class="album py-5 bg-body-tertiary mt-5">
  <div class="container">
    <h2>New Caravans</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
      {% for product in products %}
      <div class="col">
        <div class="card shadow-sm">
          {% if product.images.all %}
            <img src="{{ product.images.first.images.url }}" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="{{ product.name }}">
          {% else %}
            <img src="{% static 'images/caravan.jpg' %}" class="card-img-top" alt="No Image">
          {% endif %}
          <div class="card-body">
            <div class="card-overlay">
              <a href="{% url 'products:product_detail' product.id %}" class="card-title no-underline">{{ product.name }}</a>
            </div>
<!--            <p class="card-text">{{ product.description }}</p>-->
            <div class="d-flex justify-content-between align-items-center mt-3">
              <div class="btn-group">
                <button type="button" class="badge bg-primary">AED {{ product.price }}</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">{{ product.condition }}</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">{{ product.year }}</button>
              </div>
<!--              <span class="badge bg-primary">AED {{ product.condition }}</span>-->
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>





<section class="testimonials bg-light mt-5">
  <div class="container">
    <h2>Testimonials</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial-content">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquam tempor tellus vel malesuada. Aliquam vel felis at nibh euismod auctor. Vestibulum id felis sit amet leo vulputate volutpat vel sit amet lectus."</p>
          </div>
          <div class="testimonial-author">
            <div class="author-details">
              <img src="{% static 'images/avatar1.jpg' %}" alt="John Doe" class="author-avatar" class="author-avatar" style="width: 50px; height: 50px;">
              <div class="author-info">
                <h4>John Doe</h4>
                <p>Happy Customer</p>
              </div>
            </div>
            <div class="author-rating">
              <span class="star-icon">&#9733;</span>
              <span class="star-icon">&#9733;</span>
              <span class="star-icon">&#9733;</span>
              <span class="star-icon">&#9733;</span>
              <span class="star-icon">&#9734;</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial-content">
            <p>"Nullam interdum enim nec ipsum maximus interdum. Quisque pharetra turpis non semper consectetur. Cras sed arcu in leo egestas aliquam. Nulla euismod nisl non eros efficitur congue."</p>
          </div>
          <div class="testimonial-author">
            <div class="author-details">
              <img src="{% static 'images/avatar1.jpg' %}" alt="Jane Smith" class="author-avatar" class="author-avatar" style="width: 50px; height: 50px;">
              <div class="author-info">
                <h4>Jane Smith</h4>
                <p>Satisfied Customer</p>
              </div>
            </div>
            <div class="author-rating">
              <span class="star-icon">&#9733;</span>
              <span class="star-icon">&#9733;</span>
              <span class="star-icon">&#9733;</span>
              <span class="star-icon">&#9733;</span>
              <span class="star-icon">&#9733;</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial-content">
            <p>"Suspendisse potenti. Nullam accumsan tellus sit amet felis pharetra, at condimentum justo finibus. Morbi consequat, justo id maximus consectetur, mauris leo sollicitudin nisi, vel rhoncus justo augue auctor mi."</p>
          </div>
          <div class="testimonial-author">
            <div class="author-details">
              <img src="{% static 'images/avatar1.jpg' %}" alt="Emily Johnson" class="author-avatar" class="author-avatar" style="width: 50px; height: 50px;">
              <div class="author-info">
                <h4>Emily Johnson</h4>
                <p>Repeat Customer</p>
              </div>
            </div>
            <div class="author-rating">
              <span class="star-icon">&#9733;</span>
              <span class="star-icon">&#9733;</span>
              <span class="star-icon">&#9734;</span>
              <span class="star-icon">&#9734;</span>
              <span class="star-icon">&#9734;</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
